/.idea
/src/CalculatorProject/draft/
/src/main/java/com/it_academy/homework3/calculator/draft/
/target
/out
/src/main/java/com/it_academy/othersMain/
/src/main/java/com/it_academy/others/
/src/main/java/com/it_academy/homework5/onlinerDraft/
